<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <div id="window-top">
            @Html.Action("LoginPartial", "Account")
        </div>      
        <div id="window-content">
            @RenderBody()
        </div>

        @RenderSection("footer", required: false)

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")                
        <script src="~/Scripts/Custom/user-room-list.js"></script>              

        @RenderSection("scripts", required: false)        
    </body>
</html>
