@model Entities.Models.Room
@{
	ViewBag.Title = "Room " + Model.Title;
}
	

@Html.Hidden("room-id", Model.Id, new {data_action = Url.Action("LoadRecords")})

<div id="chat-window-left">
	<div id="messages-container">
		@foreach (var record in Model.Records)
		{
			<div data-creation-date="@record.CreationDate.ToBinary()">@record.ToString()</div>
		}
	</div>
</div>

<div id="chat-window-right">
    <div id="user-list">
        @foreach (var member in Model.Members)
        {
            <div>@member.User.Login</div>
        }
    </div>
</div>

@section footer
{
    <div id="chat-window-bottom">
        @Html.TextArea("new-message", new {data_action = Url.Action("AddRecord")})
        <input id="enter-button" type="button" value="Enter" />
        @Html.ActionLink("Exit", "Exit", "Room", new {roomId = Model.Id}, new {id = "exit-link"})
    </div>   
}


@section scripts
{
    <script src="~/Scripts/Custom/load-records.js"></script>
    
	<div id="record-pattern" style="display: none">
		<div data-creation-date="{creation-date}">
			{text}
		</div>
	</div>
}
