@model Entities.Models.Chat

<div class="chat-element-container">
    <div class="chat-title">
        <i>@Model.Title</i> - <b>@Model.Creator.Login</b>
    </div>
    <div class="chat-actions">
        @Html.ActionLink("Info", "Info", "Chat", new {id = Model.ChatId}, null)
        @Html.ActionLink("Join", "Join", "Chat", new {id = Model.ChatId}, null)
    </div>
    <div class="chat-last-activity">
        <div>
            @Html.DisplayNameFor(chat => chat.LastActivity): @Model.LastActivity
        </div>    
    </div>
</div>